@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300');

body {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
}

a {
    color: $brand-primary;
    transition-property: color;
    transition-duration: 0.2s;
}

a:hover {
    color: indianred;
    text-decoration: none;
}

a.btn.btn-secondary.understrap-read-more-link {
    border-color: #868e96;
    border-width: 1px;
}

h1 {
    margin-top: 1em;
    font-weight: 200;
    text-transform: uppercase;
}

button.navbar-toggler {
    border: none;
}

.collapse.show {
    text-align: center;
}

.wrapper {
    padding: 3.5rem 0px;
}

.entry-title {
    font-weight: 200;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $brand-primary;
    transition-duration: 0.3s;
    transition-property: all;
    border: thin solid $brand-primary !important;
}

.btn-primary:hover {
    background-color: indianred;
}

@media (max-width: 575px) {

    .main-header {
        font-size: 2.8em;
    }

    .aux-header {
        font-size: 1.25em;
    }

}

@media (min-width: 576px) {

    .main-header {
        font-size: 4.6em;
    }

    .aux-header {
        font-size: 1.4em;
        ;
    }

}

.main-header {
    text-align: center;
    font-weight: 100;
    color: #111111;
    transition-duration: 0.5s;
    transition-property: all;
}

.main-header:hover {
    color: black;
}

.aux-header {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    color: #666666;
}

.aux-header-text {
    transition-duration: 0.5s;
    transition-property: all;
}

.aux-header-text:hover {
    color: black;
}

.blinking-cursor {
    font-weight: 100;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

#right-sidebar {}

@media (min-width: 768px) {

    #right-sidebar {
        position: fixed !important;
        right: 0;
        top: 0;
        margin-top: 3.5em;
        margin-right: 2em;
        margin-left: 2em;
    }

}

h3.widget-title {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 300;
}

.assistive-text {
    display: none;
}

input#s.field.form-control:hover,
input#s.field.form-control:focus {
    border-color: $brand-primary
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    display: inline-block;
    margin: auto;
}

.navbar-light {
    background: linear-gradient(hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.85), hsla(0, 0%, 100%, 0));
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    color: dimgrey;
    transition-property: all;
    transition-duration: 0.3s;
    padding: 0.4em 0.8em;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.navbar-nav .nav-link:hover {
    color: $brand-primary;
}

.navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $brand-primary;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navbar-nav .nav-link:hover:before,
.navbar-nav .nav-link:focus:before,
.navbar-nav .nav-link:active:before {
    left: 0;
    right: 0;
}

button.navbar-toggler {
    margin: auto;
}

.updated {
    display: none;
}

.entry-footer {
    margin-bottom: 2em;
}

span.tags-links {
    display: none;
}

span.cat-links {
    text-transform: uppercase;
}

span.comments-link {
    display: none;
}

#wrapper-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.site-info {
    display: block;
    color: grey;
    text-align: center;
    font-size: 0.8em;
}
